In [1]:
def my_function_name(arg1, arg2, arg3):
    print(arg1, arg2, arg3)

In [2]:
my_function_name("jose", "garcia", "delgado")

jose garcia delgado

In [3]:
def calculate_square(N):
    square = N ** 2
    return square

In [4]:
square_number_1 = calculate_square(20)
square_number_2 = calculate_square(50)

print(square_number_1, square_number_2)

400 2500

In [ ]:
def is_a_number(item):
    is_a_int = type(item) == int  # True or False
    is_a_float = type(item) == float  # True or False

    return is_a_int or is_a_float

def my_function(a_list):
    result = []
    for item in a_list:
        if is_a_number(item):
            item = item * 2
        result.append(item)
    
    print(result)

In [5]:
def print_my_full_name(name, surname, N = 1, M = 5, Z = 10):
    full_name = name + " " + surname
    print(full_name * N)

In [7]:
print_my_full_name("jose", "garcia")
print_my_full_name("jose", "garcia", N = 3)

jose garcia
jose garciajose garciajose garcia

In [10]:
# Exercise 6

# Write a Python function to multiply all the numbers in a list. 
# The result may be optionally be multiplied by another number given by the user, N = 1
# Sample List : [8, 2, 3, -1, 7]
# Expected Output : -336


def multiplier(a_list, N = 1):
    result = 1
    for number in a_list:
        result *= number
    
    return result * N

my_result = multiplier([8, 2, 3, -1, 7], N = -1)
print(my_result)

336

In [17]:
# Exercise 7

# Write a Python program to reverse a string
# Sample String : "1234abcd"
# Expected Output : "dcba4321"

def reverse_str(a_str):
    max_position = len(a_str)
    result = ""
    for index in range(1, max_position + 1):
        result += a_str[-index]
    return result

my_reversed_str = reverse_str("JoseGarcia")
print(my_reversed_str)

aicraGesoJ

In [16]:
my_str = "ABCD"
print(my_str[-4])
print(len(my_str))

A
4