In [1]:
# Python types

# String

type_str = "Jose Garcia"
print(type_str)

Jose Garcia

In [2]:
# int

type_int = 3
print(type_int)

3

In [4]:
# string --> int

type_str = "3"
type_int = int(type_str)
print(type_str * 3)
print(type_int * 3)

333
9

In [5]:
# int --> string
type_int = 3
type_str = str(type_int)
print(type_str * 5)

33333

In [7]:
# float

type_float = 3.5487
print(type_float * 2)

7.0974

In [9]:
# float --> int
type_float = 3.9
type_int = int(type_float)
print(type_int)

3

In [10]:
# int --> float
type_int = 3
type_float = float(type_int)
print(type_float)

3.0

In [11]:
type_float = 3.78517
result = round(type_float)
print(result)

4

In [12]:
# Boolean

true_boolean = True # 1
false_boolean = False # 0

print(true_boolean + 1)

2

In [14]:
# Lists

my_list = [10, 20, 30]
print(my_list)
print(my_list[0])

my_list[0] = "jose"
print(my_list)

[10, 20, 30]
10
['jose', 20, 30]

In [17]:
# Tuple

my_tuple = (10, 20, 30)
print(my_tuple)
print(my_tuple[0])

my_tuple[0] = "jose"
print(my_tuple)

(10, 20, 30)
10

TypeError: ignored

In [18]:
# sets

my_set = {"jose", 1, "jose", 4}
print(my_set)

{1, 4, 'jose'}

In [ ]:
# Write a Python program to display the first and last colors from the following list
color_list = ["Red","Green","White" ,"Black"]

In [ ]:
# Exercise 2
# Write a Python program which accepts the radius of a circle from the user and compute the area
# Sample Output :
# r = 1.1
# Area = 3.8013271108436504

number = input()  # str

number = 2
square = number * number
square = number ** 2