In [4]:
def print_a_name():
    print("my name is Jose Garcia")
    print(".....")

In [5]:
print_a_name()

my name is Jose Garcia
.....

In [8]:
def print_a_name(name):
    print("my name is " + str(name)*2)
    print(".....")

In [10]:
username = input("Insert a name: ")
print_a_name(username)

pepito = input("Insert a name: ")
print_a_name(pepito)

Insert a name: Jose
my name is JoseJose
.....
Insert a name: Sebastian
my name is SebastianSebastian
.....

In [11]:
print_a_name("Otro nombre")

my name is Otro nombreOtro nombre
.....

In [12]:
def print_a_name(name, surname):
    print("my name is " + str(name)*2)
    print("my surname is " + surname)

In [13]:
print_a_name("jose", "garcia")

my name is josejose
my surname is garcia

In [15]:
name_1 = "jose"
surname_1 = "garcia"
print_a_name(name_1, surname_1)

my name is josejose
my surname is garcia

In [16]:
def return_first_element(a_list):
    print(a_list[0])

In [17]:
my_list = ["jose", "garcia", "medellin"]

return_first_element(my_list)

jose

In [25]:
# Exercise 2
# Write a function that prints the squares of a series from 1 to N, where N is an input parameter
# The function should print an error message, if N <= 0.

def print_squares(N):
    if N <= 0:
        print("ERROR")
    else:
        for number in range(1, N + 1):
            print(number ** 2)

In [29]:
#print_squares(10)
#print_squares(20)
print_squares(45)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025

In [30]:
N = input("insert a number: ")
N = int(N)
print_squares(N)

insert a number: 50
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [34]:
import numpy as np
def cuadrados_hasta_N(numeros):
    for numero in numeros:
        if numero <= 0:
            print("Error")
        else: 
            cuadrados=numero ** 2
            print(cuadrados)

escriba=int(input("escriba sus numeros"))    
cuadrados_hasta_N([escriba])

escriba sus numeros10
100