In [1]:
my_list = ["Jose", "Garcia", True, 1.4]

print(my_list[2])

True

In [2]:
for item in my_list:
    print(item)

Jose
Garcia
True
1.4

In [6]:
my_str = "Jose Garcia"
print(my_str[3])

e

In [ ]:
"Jose"
["J", "o", "s", "e"]

In [7]:
my_str = "Jose Garcia"
for letter in my_str:
    print(letter)

J
o
s
e

G
a
r
c
i
a

In [10]:
my_dict = {"name": "Jose", "surname": "Garcia", "city": "Medellin"}

print(my_dict.keys())
print(my_dict.values())

dict_keys(['name', 'surname', 'city'])
dict_values(['Jose', 'Garcia', 'Medellin'])

In [14]:
the_key_exists = "city-2" in my_dict.keys()
print(the_key_exists)

the_value_exists = "Garcia" in my_dict.values()
print(the_value_exists)

False
False

In [16]:
print("Garcia" in my_dict)

False

In [18]:
my_dict = {"key": [], "key_2": "value"}

In [22]:
my_dict = {}
print(my_dict)

name = input("insert your name:")
my_dict["new-key"] = name
print(my_dict)

{}
insert your name:Sebastian
{'new-key': 'Sebastian'}

In [21]:
my_dict_2 = {"name": "jose", "surname": "Garcia"}
surname = my_dict_2["surname"]
print(surname)

my_dict_2["surname"] = "Perez"
print(my_dict_2)

Garcia
{'name': 'jose', 'surname': 'Perez'}

In [ ]:
# Dada una cadena de caracteres, determine cual es el caracter que mas se repite y
# cuantas veces(case insensitive)
# ejemplo: input = 'hola soy la letra mas repetida'
# output = a 5