In [1]:
my_list = ["Jose", "Garcia", True, 1.4]

print(my_list[2])

True

In [2]:
for item in my_list:
    print(item)

Jose
Garcia
True
1.4

In [6]:
my_str = "Jose Garcia"
print(my_str[3])

e

In [ ]:
"Jose"
["J", "o", "s", "e"]

In [7]:
my_str = "Jose Garcia"
for letter in my_str:
    print(letter)

J
o
s
e

G
a
r
c
i
a

In [10]:
my_dict = {"name": "Jose", "surname": "Garcia", "city": "Medellin"}

print(my_dict.keys())
print(my_dict.values())

dict_keys(['name', 'surname', 'city'])
dict_values(['Jose', 'Garcia', 'Medellin'])

In [14]:
the_key_exists = "city-2" in my_dict.keys()
print(the_key_exists)

the_value_exists = "Garcia" in my_dict.values()
print(the_value_exists)

False
False

In [16]:
print("Garcia" in my_dict)

False

In [18]:
my_dict = {"key": [], "key_2": "value"}

In [22]:
my_dict = {}
print(my_dict)

name = input("insert your name:")
my_dict["new-key"] = name
print(my_dict)

{}
insert your name:Sebastian
{'new-key': 'Sebastian'}

In [21]:
my_dict_2 = {"name": "jose", "surname": "Garcia"}
surname = my_dict_2["surname"]
print(surname)

my_dict_2["surname"] = "Perez"
print(my_dict_2)

Garcia
{'name': 'jose', 'surname': 'Perez'}

In [27]:
my_str = input("Insert your sentence: ")
result = my_str.replace(" ", "")
print(result)

Insert your sentence: anita lava la tina
anitalavalatina

In [29]:
# Dada una cadena de caracteres, determine cual es el caracter que mas se repite y
# cuantas veces(case insensitive)
# ejemplo: input = 'hola soy la letra mas repetidah'
# output = a 5

# {letter: score} --> {"a": 5, "h": 1}

# create an empty dict
# save in a variable using an iterator every letter
# if letter exist in the dict --> 
  #  save the actual value 
  #  sum one to the actual value
  #  update the key's value
# if letter does not exist in the dict -->
  # creates a new key equals to the actual letter and assigns to it a value equals to 1

letters_score = {}
sentence = input("Insert the sentence: ")
sentence.replace(" ", "")

for letter in sentence:
    if letter in letters_score.keys():
        actual_value = letters_score[letter]
        new_value = actual_value + 1
        letters_score[letter] = new_value
    else:
        letters_score[letter] = 1

# {'a': 2, 'n': 1, 'i': 1, 't': 1}

# initialize a score equals to zero and letter equals to "A"
# iterate over the keys and values of the dict
# if the actual is greater to score --->
   # score equals to the actual value
   # letter equals to the actual actual key
# else do not any

Insert the sentence: anita
{'a': 2, 'n': 1, 'i': 1, 't': 1}

In [30]:
my_dict = {'a': 2, 'n': 1, 'i': 1, 't': 1}
for key, value in my_dict.items():
    print(key, value)

a 2
n 1
i 1
t 1