In [ ]:
# list 
my_list = [1, 2, 3]

# tuple
my_tuple = (1, 2, 3)

# set
my_set = {1, 2, 3}

In [1]:
#dict --> {key_1: value_1 , ... , key_n: value_n}

my_dict = {"key_1": "value_1", "key_2": "value_2"}
print(my_dict)

{'key_1': 'value_1', 'key_2': 'value_2'}

In [2]:
my_dict_2 = {"name": "jose garcia", "age": 25, "city": "Medellin", "passport": True, 1: "a value"}
name = my_dict_2["name"]
print(name)

jose garcia

In [5]:
my_dict_3 = {"name": "name", "name": "jose", "name": "garcia"}
print(my_dict_3)

{'name': 'garcia'}

In [8]:
my_dict_4 = {"name": "jose", "surname": "garcia"}
print(my_dict_4)

another_name = "Sebastian"
my_dict_4["name"] = another_name
print(my_dict_4)

key_name = "surname"
my_dict_4[key_name] = "reyes"
print(my_dict_4)

{'name': 'jose', 'surname': 'garcia'}
{'name': 'Sebastian', 'surname': 'garcia'}
{'name': 'Sebastian', 'surname': 'reyes'}

In [10]:
for number in range(1, 11):
    print(number, sep=",", end="")

12345678910

In [11]:
my_dict = {}
my_dict["1"] = 1
print(my_dict)

{'1': 1}

In [12]:
# read a number N --> int
# build a dict that includes the squares of the numbers from 1 to N, where the dict's key is the number and the value is the square
# N = 3
# {1: 1, 2: 4, 3: 9}

N = int(input("Insert N: "))
my_dict = {}

for number in range(1, N + 1):
    square = number ** 2
    my_dict[number] = square

print(my_dict)

Insert N: 10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [15]:
N = int(input("Insert N: "))
my_dict = {}

for number in range(1, N + 1):
    print(number)

Insert N: 5
1
2
3
4
5

In [17]:
my_list = ["jose", "garcia", "delgado"]
for item in my_list:
    print(item)

jose
garcia
delgado

In [18]:
my_dict = {"name": "jose", "surname": "garcia", "city": "Medellin"}

for key in my_dict.keys():
    print(key)

name
surname
city

In [19]:
my_dict = {"name": "jose", "surname": "garcia", "city": "Medellin"}

for value in my_dict.values():
    print(value)

jose
garcia
Medellin

In [20]:
my_dict = {"name": "jose", "surname": "garcia", "city": "Medellin"}

for key, value in my_dict.items():
    print(key, value)

name jose
surname garcia
city Medellin

In [21]:
my_list = []
print(my_list)
my_list.append(1)
print(my_list)

[]
[1]

In [22]:
my_list = []
for number in range(1, 11):
    if number % 2 == 0:  # even
        my_list.append(number)
print(my_list)

[2, 4, 6, 8, 10]