In [ ]:
number = input("Insert a number: ")
number = float(number)

condition = number < 10

if condition:
    print("it is lower")

In [2]:
print(not True)
print(not False)

False
True

In [4]:
number = input("Insert a number: ")
number = float(number)

condition = number > 10

if not condition:  # True
    print("it is lower")

Insert a number: 1
it is lower

In [ ]:
number = input("Insert a number: ")
number = float(number)

condition = number > 10

if condition:  # True
    print("it is greater")

In [7]:
number = input("Insert a number: ")
number = float(number)

condition = number > 10

if condition:  # True
    print("it is greater")
else:
    print("it is lower")

Insert a number: 10
it is greater

In [ ]:
number = input("Insert a number: ")
number = float(number)

condition_1 = number > 10
condition_2 = number < 10
condition_3 = number == 10

if condition_1:  # True
    another_number = input("insert another number: ")

if condition_2:
    print("it is lower")

if condition_3:
    print("it is equal")

In [ ]:
number = input("Insert a number: ")
number = float(number)

condition_1 = number > 10
condition_2 = number < 10
condition_3 = number == 10

if condition_1:
    print("It is greater")
elif condition_2:
    print("it is lower")
elif condition_3:
    print("It is equal")
else:
    print("ERROR")

In [9]:
my_list = [1, 3, 6, 9]

my_number = input("insert a number:")
my_number = int(my_number)

the_number_is_in_the_list  = my_number in my_list

if the_number_is_in_the_list:
    print("It is in the list")
else:
    print("It is not in the list")

insert a number:3
It is in the list

In [ ]:
db = ["Jose Garcia", "Carolina Martinez", "Gonzalo Garcia", "Adam Philiphs", "George Washington"]

In [10]:
incrementer = 1
print(incrementer)

incrementer = incrementer + 1
print(incrementer)

incrementer += 1
print(incrementer)

1
2
3

In [ ]:
#Write a program that verifies if an user is in a DB. To do so, your DB will be the following list:

#db = ["Jose Garcia", "Carolina Martinez", "Gonzalo Garcia", "Adam Philiphs", "George Washington"]

#The user will have three attempts to try to guess a name available in the db, if the attempts are reached, you should print a message "ERROR, max attemtps reached".
#If the user has not reached the attempts and the name does not exist, you should print "ERROR, the name does not exist"
#If the name is in the DB, you should print "OK, the name exists"

attempts = 1
name = input("insert your name:")
finished = False

db = ["Jose Garcia", "Carolina Martinez", "Gonzalo Garcia", "Adam Philiphs", "George Washington"]

attempts_reached = attempts == 3
name_in_db = name in db

if name_in_db and not attempts_reached:
    print("OK, the name exists")
    finished = True
else:
    attempts += 1
    print("ERROR, the name does not exist")
    name = input("insert your name:")

attempts_reached = attempts == 3
name_in_db = name in db

if name_in_db and not attempts_reached and not finished:
    print("OK, the name exists")
else:
    attempts += 1
    print("ERROR, the name does not exist")
    name = input("insert your name:")

attempts_reached = attempts == 3
name_in_db = name in db

if name_in_db and attempts_reached:
    print("OK, the name exists")
else:
    print("ERROR, max attemtps reached")
    name = input("insert your name:")

In [ ]:
incrementer = 1

incrementer *= 1.2
print(incrementer)

In [11]:
name = input("insert your name:")
db = ["Jose Garcia", "Carolina Martinez", "Gonzalo Garcia", "Adam Philiphs", "George Washington"]

if name in db:
    print("Ok")
else:
    print("ERROR, the name does not exist")
    name = input("insert your name:")
    if name in db:
        print("Ok")
    else:
        print("ERROR, the name does not exist")
        name = input("insert your name:")
        if name in db:
            print("Ok")
        else:
            print("ERROR, max attemtps reached")

insert your name:pepito perez
ERROR, the name does not exist
insert your name:pepito
ERROR, the name does not exist
insert your name:otro pepito
ERROR, max attemtps reached

In [ ]:
my_condition_1 = True
my_condition_2 = False

if my_condition_1 and not my_condition_2:
    print("all fit!")

In [13]:
print(not False)
print(not True)

True
False

In [16]:
print(True and True)

True