# My first Python Program

In [ ]:
print("Hello World")
print("Other text")

Hello World
Other text

In [ ]:
print("Hello" * 5)
print("Hello")

HelloHelloHelloHelloHello
Hello

In [ ]:
print("Hello\n" * 5)

Hello
Hello
Hello
Hello
Hello

In [ ]:
print("Hello " + "World")

Hello World

In [ ]:
print("*")
print("**")
print("***")
print("****")
print("*****")
print("******")

*
**
***
****
*****
******

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [13]:
print("Jose","Garcia","Delgado")
print("*","**","***")
print("Jose","Garcia","Delgado", sep='8')

Jose Garcia Delgado
* ** ***
Jose8Garcia8Delgado

In [10]:
mi_variable = "Jose" + "Garcia"
print(mi_variable)

JoseGarcia

In [20]:
print("Hello"*5 )
print("Hello "*5, sep="890356156" )
print("Hello", "Hello" , sep="   ")

HelloHelloHelloHelloHello
Hello Hello Hello Hello Hello
Hello   Hello

In [33]:
print("Jose", "Garcia", end=" ")
print("Delgado")
print("Hello")

# Jose Garcia Delgado\n

Jose Garcia Delgado
Hello

In [27]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [25]:
print("*", "**", "***", "****", "*****", "******", sep="\n")

*
**
***
****
*****
******

In [26]:
print("Jose", "Garcia", "Delgado", sep="8", end="9")

Jose8Garcia8Delgado9

In [43]:
print("Jose", "Garcia", "teacher", sep=",", end=" ")
print("Delgado")
print("Hello")

Jose,Garcia,teacher Delgado
Hello

In [45]:
print("Jose", "Garcia\n", sep=",", end=" ")
print("Delgado")
print("Hello")

# Jose,Garcia
#  Delgado

Jose,Garcia
pepitoDelgado
Hello

In [49]:
print("Jose", "Garcia\n", end="--", sep=",")
print("Delgado")
print("Hello")

Jose,Garcia
--Delgado
Hello

In [47]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [50]:
print("_|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|")
print("___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|__")

_|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|
___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|__

In [52]:
print("_", end="|")
print("_" * 3, end="|")
print("_" * 3, end="|")
print("_" * 3, end="|")
print("_" * 3, end="|")
print("_" * 3, end="|")
print("_" * 3, end="|")

_|___|___|___|___|___|___|

In [53]:
print("_", end="|")
print("___", "___","___","___","___","___","___","___","___","___","___","___","___","___", sep="|")

_|___|___|___|___|___|___|___|___|___|___|___|___|___|___