In [1]:
print("Hello World")

Hello World

In [2]:
message = "Hello World"
print(message)

Hello World

In [3]:
print(message * 2)

Hello WorldHello World

In [10]:
# Variable naming rules
# 1. Should not begin by blank space

 message = "Hello World"
print(message)

IndentationError: ignored

In [9]:
# Variable naming rules
# 2. Should not begin by special characters: %$/()\?Â¿&|
$message = "Hello World"
print($message)

SyntaxError: ignored

In [8]:
# Variable naming rules
# 3. Should not begin by numbers
4message = "Hello World"
print(4message)

SyntaxError: ignored

In [7]:
# Variable naming rules
# 4. Should not contain blank spaces
message 4 = "Hello World"
print(message 4)

SyntaxError: ignored

In [6]:
message_4 = "Hello World"
print(message_4)

Hello World

In [ ]:
#print = 4
#print("Hello world")

In [11]:
name = input("Insert your name:")
print(name)

Insert your name:Jose Garcia
Jose Garcia

In [14]:
number = input("insert a number:")
number_int = int(number)
print(number_int * 2)

insert a number:6
12

In [ ]:
# 1. Create a script that asks for the name and the surname of a person. The script should print the following message:
# Your name is <name> and your surname is <surname> --> Your name is Jose and your surname is Garcia

# 2. Create a script that asks the base and the height of a rectangle and prints its area
# The area of the rectangle is <area>
# Area = b * h
# the variables that you read must be transformed in this way:

# my_int_var = int(original_variable)

In [17]:
# 1. Create a script that asks for the name and the surname of a person. The script should print the following message:
# Your name is <name> and your surname is <surname> --> Your name is Jose and your surname is Garcia

name = input("Insert your name:")
surname = input("Insert your surname:")
print("Your name is ", end="")
print(name, end="")
print(" and your surname is ", end="")
print(surname)

Insert your name:Jose
Insert your surname:Garcia
Your name is Jose and your surname is Garcia

In [19]:
# 1. Create a script that asks for the name and the surname of a person. The script should print the following message:
# Your name is <name> and your surname is <surname> --> Your name is Jose and your surname is Garcia

name = input("Insert your name:")
surname = input("Insert your surname:")
print("Your name is", name, "and your surname is", surname)

Insert your name:Jose
Insert your surname:Garcia
Your name is Jose and your surname is Garcia

In [20]:
# 1. Create a script that asks for the name and the surname of a person. The script should print the following message:
# Your name is <name> and your surname is <surname> --> Your name is Jose and your surname is Garcia

name = input("Insert your name:")
surname = input("Insert your surname:")
print("Your name is " + name + " and your surname is " + surname)

Insert your name:Jose
Insert your surname:Garcia
Your name is Jose and your surname is Garcia

In [21]:
# 2. Create a script that asks the base and the height of a rectangle and prints its area
# The area of the rectangle is <area>
# Area = b * h
# the variables that you read must be transformed in this way:

# my_int_var = int(original_variable)

base = input("Insert the rectangle's base:")
height = input("Insert the rectangle's height:")
area = base * height
print(area)

Insert the rectangle's base:3
Insert the rectangle's height:5

TypeError: ignored

In [22]:
base = "6"
height = "5"
area = base * height

TypeError: ignored

In [24]:
base = 6
height = 5
area = base * height
print(area)

30

In [25]:
base = "6"
height = "5"
print(base + height)

65

In [28]:
base = "6"
height = "5"
base_int = int(base)
height_int = int(height)
area = base_int * height_int
print(area)

30

In [34]:
base = input("Insert rectangle base in centimeters:") 
base_int = int(base) 
heigth = input("Insert rectangle heigth in centimeters") 
heigth_int = int(heigth) 
area = base_int * heigth_int 
print(area)

Insert rectangle base in centimeters:5
Insert rectangle heigth in centimeters4
20

In [35]:
name= input("insert your name: ")
surname= input("insert your surname: ") 
print("your name is", end="" ) 
print(name , end="") 
print("your surname is", end="") 
print(surname)

insert your name: Jose
insert your surname: Garcia
your name isJoseyour surname isGarcia

In [37]:
base = "6"
height = "5"
base_int = int(base)
height_int = int(height)
area = base_int * height_int
print(area)

6

In [40]:
# The base is <base>
base = 6
base_str = str(base)
text = "the base is "
result = text + base_str
print(result)

the base is 6

In [43]:
# The base is <base>
base = 6
text = "the base is "
print(text, base)

the base is  6

In [ ]:
# 2. Create a script that asks for the name and the surname of a person. The script should print the following message:
# Your name is <name> and your surname is <surname> --> Your name is Jose and your surname is Garcia

base = input("Insert rectangle base in centimeters: ")
base_int = int(base)
height = input("Insert rectangle height in centimeters: ") 
height_int = int(height)
print ("The area of the rectangle is" + base_int * height_int + "square centimeters") # wrong
print ("The area of the rectangle is", base_int * height_int , "square centimeters") # correct

In [45]:
name= input("insert your name ") 
surname = input("insert your surname ") 
print("your name is", end=" ") 
print(name, end=" ") 
print("your surname is", end=" ") 
print(surname)

insert your name Jose
insert your surname Garcia
your name is Jose your surname is Garcia

In [46]:
# String
name = "Jose Garcia"
print(name)

Jose Garcia

In [47]:
# int
value = 3
print(value)

3

In [50]:
# float
value = 3.1454652177
print(value)

3.1454652177

In [51]:
# float and int
value_1 = 3
value_2 = 3.5
value_3 = value_1 * value_2
print(value_3)

10.5

In [54]:
# int and string
value_1 = "3"
value_2 = 3
value_3 = value_1 * value_2
print(value_3)

333

In [56]:
# float and string
value_1 = "3"
value_2 = 3.0
value_3 = value_1 * value_2
print(value_3)

TypeError: ignored

In [57]:
# float and string
value_1 = "3" # string
value_2 = 3.0

value_1 = int("3") # int
value_3 = value_1 * value_2
print(value_3)

9.0

In [62]:
# float and string
value_1 = "3"
value_2 = 3.0

value_2 = int(value_2)
value_3 = value_1 * value_2
print(value_3)

josejosejose

In [67]:
# float and string
value_1 = "h"
value_2 = 3.0

value_3 = int(value_2)
print(value_3)
print(value_1 * value_3)

3
hhh

In [65]:
print("3" * 3)

333

In [69]:
value_1 = 3; value_2 = 4