In [ ]:
# Python types

# String

type_str = "Jose Garcia"
print(type_str)

Jose Garcia

In [ ]:
# int

type_int = 3
print(type_int)

3

In [ ]:
# string --> int

type_str = "3"
type_int = int(type_str)
print(type_str * 3)
print(type_int * 3)

333
9

In [ ]:
# int --> string
type_int = 3
type_str = str(type_int)
print(type_str * 5)

33333

In [ ]:
# float

type_float = 3.5487
print(type_float * 2)

7.0974

In [ ]:
# float --> int
type_float = 3.9
type_int = int(type_float)
print(type_int)

3

In [ ]:
# int --> float
type_int = 3
type_float = float(type_int)
print(type_float)

3.0

In [ ]:
type_float = 3.78517
result = round(type_float)
print(result)

4

In [ ]:
# Boolean

true_boolean = True # 1
false_boolean = False # 0

print(true_boolean + 1)

2

In [ ]:
# Lists

my_list = [10, 20, 30]
print(my_list)
print(my_list[0])

my_list[0] = "jose"
print(my_list)

[10, 20, 30]
10
['jose', 20, 30]

In [ ]:
# Tuple

my_tuple = (10, 20, 30)
print(my_tuple)
print(my_tuple[0])

my_tuple[0] = "jose"
print(my_tuple)

(10, 20, 30)
10

TypeError: ignored

In [ ]:
# sets

my_set = {"jose", 1, "jose", 4}
print(my_set)

{1, 4, 'jose'}

In [ ]:
# Write a Python program to display the first and last colors from the following list
color_list = ["Red","Green","White" ,"Black"]

first_item = color_list[0]
last_item = color_list[3]
print(first_item, last_item)

last_item_2 = color_list[-1]
print(first_item, last_item_2)

Red Black
Red Black

In [ ]:
color_list = ["Red", "Green", "White", "Black"] 
the_firtsone = color_list[0] 
the_lastone = color_list[3] 
print(the_firtsone, end=" ") 
print(the_lastone)

Red Black

In [ ]:
color_firts = (color_list[0]+ " " + color_list[3])
# result = "Red" + " " + "Black" 
print(color_firts)

In [ ]:
# Exercise 2
# Write a Python program which accepts the radius of a circle from the user and compute the area
# Sample Output :
# r = 1.1
# Area = 3.8013271108436504

number = input()  # str

number = 2
square = number * number
square = number ** 2

In [ ]:
# Exercise 2
# Write a Python program which accepts the radius of a circle from the user and compute the area
# Sample Output :
# r = 1.1
# Area = 3.8013271108436504

radius_str = input("insert the circle's radius")
radius_float = float(radius_str)

pi = 3.1416

# area = pi * radiusÂ²
result_1 = pi * radius_float * radius_float
result_2 = pi * (radius_float ** 2)

result_1 = round(result_1, 2)

print("The area is:", end=" ")
print(result_1, result_2)

insert the circle's radius2.3
The area is: 16.62 16.619063999999998

In [ ]:
result = round(3.4467, 2)
print(result)

3.45

In [ ]:
radius = float(input("Insert the radius of the circle: ")) 
area = float((radius ** 2) * 3.1416) 
print ("The area of the circle is %5.2f" %area )

In [ ]:
my_list = ["jose", "garcia", True, False, 2.3]

In [ ]:
# < less than
# > greater than
# <= less or equal than
# >= greater or equal than
# == equal
# != not equal / different

my_first_number = 3
my_second_number = 4

# 4 > 3
result = my_second_number > my_first_number
print(result)

True

In [ ]:
# < less than
# > greater than
# <= less or equal than
# >= greater or equal than
# == equal
# != not equal / different

my_first_number = 3.1
my_second_number = 4.4

# 4 < 3
result = my_second_number < my_first_number
print(result)

False

In [ ]:
# < less than
# > greater than
# <= less or equal than
# >= greater or equal than
# == equal
# != not equal / different

my_first_number = 3.1
my_second_number = 3.1

# 3.1 == 3.1
result = my_second_number == my_first_number
print(result)

True

In [ ]:
# < less than
# > greater than
# <= less or equal than
# >= greater or equal than
# == equal
# != not equal / different

my_first_number = 3.1
my_second_number = 3.1

# 3.1 != 3.1
result = my_second_number != my_first_number
print(result)

False

In [ ]:
# < less than
# > greater than
# <= less or equal than
# >= greater or equal than
# == equal
# != not equal / different

my_first_name = "jose"
my_second_name = "jose"

# jose == jose
result = my_second_number == my_first_number
print(result)

False

In [ ]:
# < less than
# > greater than
# <= less or equal than
# >= greater or equal than
# == equal
# != not equal / different

my_first_name = "jose"
my_second_name = 1

# jose == jose
result = my_first_name == my_second_name
print(result)

False

In [ ]:
my_set_1 = {1,2,3}
my_set_2 = {1,2,3}
print(my_set_1 == my_set_2)

True

In [ ]:
my_list_1 = [1, 2, 3, 4]
my_list_2 = [1, 2, 4, 3]
print(my_list_1 == my_list_2)

False

In [ ]:
my_first_name = "josegarcia"
my_second_name = "josegarciadelgado"

# jose == jose
result = my_first_name > my_second_name
print(result)

False

In [ ]:
my_list_1 = [1, 2, 3]
my_list_2 = [3, 4, 5]

print(my_list_1[0] > my_list_2[-1])
print(my_list_1 > my_list_2)

False
False

In [ ]:
# Conditional

# if it is cloudy it will rain

# if <condition>:
#     <action>

first_number = 2
second_number = 3

# Is the second number greater than first number?

result = second_number > first_number
another_number = 4

if result: # True
    print("The second number is greater")
    another_number = 5

print(another_number)
print("finished!")

The second number is greater
5
finished!

In [ ]:
# if it is cloudy it will rain

# if <condition>:
#     <action>

first_number = 2
second_number = 1

# Is the second number greater than first number?

result = second_number > first_number
another_number = 4

if result: # False
    print("The second number is greater")
    another_number = 5

print(another_number)
print("finished!")

4
finished!

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print("Add the radius of the circunference r ") 
r_int= input("r = ") 
r_float = float(r_int) 
pi_float= 3.141622 
area= (pi_float* (r_float**2)) 
print (area)

In [ ]:
name = "jose"
surname = "garcia"
result = f"{name} {surname}"
result = name + " " + surname

expected = "jose garcia"
print(result == expected)

True

1. Write a Python program to get the difference between a given number and 17, if the number is lower than 17 return double the absolute difference.

absolute difference --> abs()

Example:  
if the number is 22, you should print 5  
if the number is 14, you should print 6, which is the absolute difference between 14 and 17  

2.  Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum

Example:  
if numbers are 1, 2 and 3, it should return 6  
if three numbers are 12, it should return 3 * (12 + 12 + 12)

In [1]:
print(abs(12 - 14))

2

In [7]:
# Exercise 1

number = input("Please insert a number:")

# possible casts
number = int(number)
number = float(number)

greater_than_17 = number > 17

if greater_than_17:
    print(number - 17)

# 2 * |number - 17|

lower_or_equal_to_17 = number <= 17

if lower_or_equal_to_17:
    difference = number - 17
    abs_difference = abs(difference)
    print(2 * abs_difference)

Please insert a number:3
28.0

In [9]:
# Exercise
# if numbers are 1, 2 and 3, it should return 6
# if three numbers are 12, it should return 3 * (12 + 12 + 12)

number_1 = input("insert the first number:")
number_2 = input("insert the second number:")
number_3 = input("insert the third number:")

number_1 = float(number_1)
number_2 = float(number_2)
number_3 = float(number_3)

all_number_equal = number_1 == number_2 == number_3

if all_number_equal:
    numbers_sum = number_1 + number_2 + number_3
    print(3 * numbers_sum)

number_1_different_to_number_2 = number_1 != number_2
if number_1_different_to_number_2:
    print(number_1 + number_2 + number_3)

number_1_different_to_number_3 = number_1 != number_3
if number_1_different_to_number_3:
    print(number_1 + number_2 + number_3)

#number_2_different_to_number_1 = number_2 != number_1
#if number_2_different_to_number_1:
#    print(number_1 + number_2 + number_3)

number_2_different_to_number_3 = number_2 != number_3
if number_2_different_to_number_3:
    print(number_1 + number_2 + number_3)

#number_3_different_to_number_2 = number_3 != number_2
#if number_3_different_to_number_2:
#    print(number_1 + number_2 + number_3)

#number_3_different_to_number_1 = number_3 != number_1
#if number_3_different_to_number_1:
#    print(number_1 + number_2 + number_3)

all_different = number_1 != number_2 != number_3
if all_different:
    print(number_1 + number_2 + number_3)

insert the first number:1
insert the second number:4
insert the third number:4

In [14]:
number_1 = input("insert the first number:")
number_2 = input("insert the second number:")
number_3 = input("insert the third number:")

number_1 = float(number_1)
number_2 = float(number_2)
number_3 = float(number_3)

all_number_equal = number_1 == number_2 == number_3

if all_number_equal:
    numbers_sum = number_1 + number_2 + number_3
    print(3 * numbers_sum)

all_different = number_1 != number_2 != number_3
if all_different:
    print(number_1 + number_2 + number_3)

insert the first number:1
insert the second number:1
insert the third number:3

In [ ]:
name = input("what is your name:")

condition = name == "Jose"

if condition:
    print("yes!")

In [ ]:
name = input("what is your name:")

condition = name == "Jose"

if condition:
    print("yes!")
else:
    print("no!")

In [17]:
name = input("What is your name:")
surname = input("What is your surname:")

if name == "Jose":
    if surname == "Garcia":
        print("yes!")
    else:
        print("no!")
else:
    print("no!")

What is your name:Carolina
What is your surname:perez
no!

In [ ]:
name = input("What is your name:")
surname = input("What is your surname:")

condition_1 = name == "Jose"
condition_2 = surname == "Garcia"

# True and True --> True
# True and False --> False
# False and True --> False
# False and False --> False
result = condition_1 and condition_2

if result:
    print("yes!")
else:
    print("no!")

In [ ]:
# True or True --> True
# True or False --> True
# False or True --> True
# False or False --> False

In [ ]:
# if numbers are 1, 2 and 3, it should return 6
# if three numbers are 12, it should return 3 * (12 + 12 + 12)

number_1 = float(input("insert the number 1:"))
number_2 = float(input("insert the number 2:"))
number_3 = float(input("insert the number 3:"))

condition = number_1 == number_2 == number_3

if condition:
    sum_of_numbers = number_1 + number_2 + number_3
    print(3 * sum_of_numbers)
else:
    print(number_1 + number_2 + number_3)

In [ ]:
# 6. Solve the challenge at https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=true