In [ ]:
!wget https://raw.githubusercontent.com/dduril/Movies-JSON/master/marvel-cinematic-universe.json

In [1]:
!ls

sample_data

In [ ]:
import json

# Read data from file, way 1:
data = {}
with open("marvel-cinematic-universe.json", "r") as f:
    data = json.load(f)

print(data)

In [ ]:
import json

# Read data from file, way 2:
data = {}
with open("marvel-cinematic-universe.json", "r") as f:
    file_data = f.read()
    data = json.loads(file_data)

print(data)

In [ ]:
# differences between load and loads:

# load --> Should be used when you read a binary file or a buffer of data
# loads --> should be used when you read a string

In [ ]:
# let's print the keys of the data

print(data.keys())

In [ ]:
# let's print the available movies

marvel_data = data['Marvel Cinematic Universe']
print(marvel_data.keys())

In [ ]:
# Print the movie's title and the release year of every available movie following the format below:
# <movie_name_1> , <year>
# ...
# <movie_name_n> , <year>

In [ ]:
# Extract the 3 movies with the highest budget. You should print the movie name and budget as follows:
# <movie_name_1>: <budget>
# <movie_name_2>: <budget>
# <movie_name_3>: <budget>

# There is not need to sort the movies by budget
# Note: Some budgets have the value 'tbd' in the DB, do not use them

In [ ]:
# Save to a file: dump

data = [
        {"name": "jose", "surname": "garcia"}, 
        {"name": "carolina", "surname": "martinez"}
]

with open("data_names.txt", "w") as f:
    json.dump(data, f)

In [ ]:
with open("data_names.txt", "r") as f:
    print(f.read())

In [ ]:
# save the result of the movies with the highest budget to a file