In [3]:
print(12 % 3)

0

In [4]:
def is_multiple(number, multiplier):
    result = number % multiplier
    last_result = result == 0
    return last_result

def is_multiple(number, multiplier):
    result = number % multiplier
    if result == 0:
        return True
    else:
        return False

def is_my_name(name):
    return name == "jose"

In [6]:
result = is_my_name("jose")
print(result)

True

In [9]:
nothing = None

print(nothing == 1)

False

In [10]:
def my_function(name):
    print(name)
    return None

In [12]:
my_value = my_function("jose")
print(my_value)

jose
None

In [17]:
def my_function(name):
    if name == "jose":
        print("adivinaste")

In [14]:
result = my_function("sara")
if result == None:
    print("no adivinaste")

no adivinaste

In [15]:
import numpy as np

row_1 = ["jose", "garcia", "medellin"]
row_2 = ["carolina", "perez", None]

my_matrix = np.array([row_1, row_2])