In [3]:
print(12 % 3)

0

In [4]:
def is_multiple(number, multiplier):
    result = number % multiplier
    last_result = result == 0
    return last_result

def is_multiple(number, multiplier):
    result = number % multiplier
    if result == 0:
        return True
    else:
        return False

def is_my_name(name):
    return name == "jose"

In [6]:
result = is_my_name("jose")
print(result)

True

In [9]:
nothing = None

print(nothing == 1)

False

In [10]:
def my_function(name):
    print(name)
    return None

In [12]:
my_value = my_function("jose")
print(my_value)

jose
None

In [17]:
def my_function(name):
    if name == "jose":
        print("adivinaste")

In [14]:
result = my_function("sara")
if result == None:
    print("no adivinaste")

no adivinaste

In [19]:
import numpy as np

row_1 = ["jose", "garcia", "medellin"]
row_2 = ["carolina", "perez", None]

my_matrix = np.array([row_1, row_2])
print(my_matrix)

[['jose' 'garcia' 'medellin']
 ['carolina' 'perez' None]]

In [27]:
# variable scope

# local variable

def my_function(name):
    pepito = name * 2
    print(pepito)

# my_function("jose")
#print(pepito)

# global variable

outside_name = "jose"
my_function(outside_name)
print(outside_name)

josejose
jose

In [41]:
outside_name = "jose"
another_name = "carolina"

print(outside_name)

def my_global_function():
    global outside_name, another_name
    another_name = "carolina2"

my_global_function()

print(outside_name)
print(another_name)

jose
jose
carolina2

In [30]:
my_global_function()

jose

In [45]:
name = input("insert your name: ")

def change_name():
    global name
    name = "sebastian"

change_name()

if name == "jose":
    print("Ganaste!")
else:
    print("pierdes")

insert your name: jose
pierdes

In [46]:
def my_function(arg1, arg2, arg3):
    print(arg1, arg2, arg3)

my_function("jose", True, "medellin")

jose True medellin

In [53]:
def my_function(*my_tuple):
    print(my_tuple[0])

def my_function(*args):
    print(args[0])

my_function("jose", True, "medellin")

jose

In [72]:
my_dict = {"name": "jose", "surname": "garcia", "city": "medellin"}

def my_dict_function(name, surname, city):
    print(name, surname, city)

# my_dict_function(**my_dict)

def my_dict_function(**kwargs):
    name = kwargs["name"]
    surname = kwargs["surname"]
    city = kwargs["city"]
    print(name, surname, city)

my_dict_function(name="jose", surname="garcia", city="medellin")

jose garcia medellin

In [52]:
my_tuple = ("jose", "garcia")
print(my_tuple[0])

jose

In [67]:
import random
print(random.choice(("jose", "garcia", "medellin")))
print(random.shuffle(["jose", "garcia", "medellin"]))

medellin
None